.idea/
.gradle/
geb-mobile-extension.iml
build/
src/test/resources/testapk/resigned-selendroid-test-app-0.9.0.apk
resigned-selendroid-test-app-0.9.0.apk
classes/
screenshots/
*.iml
*.ipr
*.iws
out/
screenshots/
